.pricing-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pricing-title {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8PX;
}

.pricing-section h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    font: bold 24px 'Arial', sans-serif;
}

.pricing-section p {
    width: 100%;
    margin: 0;
    padding: 0;
    font: normal 16px 'Arial', sans-serif;
}

.pricing-content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing-type {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pricing-choose {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: gainsboro;
    border-radius: 24px;
    padding: 4px 8px;
}

.pricing-choose-button {
    width: max-content;
    height: max-content;
    padding: 4px 12px;
    border: none;
    outline: none;
    background-color: gainsboro;
    font-family: "Arial", sans-serif;
    color: gray;
    font-size: 16px;
    font-weight: bold;
}

.pricing-choose-checked {
    background-color: white;
    border-radius: 24px;
    color: black;
}

.pricing-note {
    width: max-content;
    height: max-content;
}

.pricing-note h1 {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    color: #425B9A;
    font: normal 16px "Arial", sans-serif;
}

.pricing {
    width: 100%;
    height: max-content;
    gap: 32px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.price-plan {
    width: calc(100% - 16px);
    padding: 8px;
}

.pricing-title-div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan-name {
    width: 100%;
    height: max-content;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.plan-description {
    margin: 0;
    padding: 0;
    height: max-content;
    width: 100%;
    font: normal 16px "Arial", sans-serif;
    color: gray;
}
.pricing-button {
    width: 100%;
    height: max-content;
    font: normal 20px "Arial", sans-serif;
    padding: 12px;
    border: none;
    outline: none;
    background-color: #e6f3fe;
    color: #0075de;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.plan-price {
    width: 100%;
    height: max-content;
    font: normal 16px "Arial", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.plan-price span {
    width: 100%;
    height: max-content;
    font: bold 24px "Arial", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.pricing-includes {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing-includes h1 {
    width: 100%;
    height: max-content;
    font: bold 18px "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.pricing-includes-list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pricing-includes-item-div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.pricing-includes-item-div2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;
    align-items: center;
}

.pricing-includes-item-div2 span {
    font-size: 22px;
    color: gray;
}

.pricing-includes-item-div2 h3 {
    font: normal 18px "Arial", sans-serif;
    margin: 0;
    color: gray;
    padding: 0;
}

.pricing-includes-item-div3 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 4px;
    padding-left: 28px;
}

.pricing-includes-item-div3 span {
    font-size: 16px;
}

.start-section {
    position: relative;
    margin-left: calc((-100vw + 100%) / 2);
    width: calc(100% + (100vw - 100%));
    height: 500px;
    background-color: #363199;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
.start-conteiner {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.start-conteiner h1 {
    color: white;
    font: bold 32px "Arial", sans-serif;
}

main {
    padding-bottom: 0px;
}

footer {
    margin-top: 0px;
}

@media screen and (max-width: 1000px) {
    .pricing-type {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 12px;
    }

    .pricing-content {
        gap: 64px;
    }

    .pricing {
        gap: 64px;
    }
}

@media screen and (max-width: 1600px) {
    .pricing {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}