.hero-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.hero-text h1 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero-text p {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-button a {
    width: max-content;
    height: max-content;
    margin: 0px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

.hero-button button {
    width: max-content;
    height: max-content;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.hero-image {
    width: 100%;
    height: max-content;
    aspect-ratio: 16/9;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.services-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.services-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services-header h2 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.services-header p {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
    background-color: #f9f9f9;
}

.service-part1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.service-part2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}