{% extends "layout.html" %}
{% load static %}

{% block title %}HostHook - About Us{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="words-part">
            <h3 class="words">Easy.</h3>
            <h3 class="words">Secure.</h3>
            <h3 class="words2">Fast.</h3>
            <h3 class="words2">Compactive.</h3>
            <h3 class="words">User-Friendly.</h3>
        </div>

        <div class="hero-content">
            <div class="hero-p1">
                <h1>Make storing data <span class="hero-span1">EASIER.</span></h1>

                <p>Our web-service helps you store data securely, cheap and orginized. No need for making dashboards by yourself, because our dashboard is fully customizable by your preferences.</p>
            </div>

            <div class="hero-p2">
                <img src="{% static 'pics/hero1.png' %}" alt="">
            </div>
        </div>
    </section>

    <section class="multiple-infos">
        <section class="info-section-v1">
            <div class="i1-p1">
                <div class="i1-p1-innerdiv">
                    <div class="i1-title">
                        <h2>Sub-title</h2>
                        <h1>Main title which is longer and more meaningful.</h2>
                    </div>

                    <p>Here will be a paragraph that will describe the service.</p>
                </div>

                <a href="" class="i1-link">Link here</a>
            </div>

            <div class="i1-p2">
                <img src="" alt="">
            </div>
        </section>

        <section class="info-section-v1">
            <div class="i1-p1">
                <div class="i1-p1-innerdiv">
                    <div class="i1-title">
                        <h2>Sub-title</h2>
                        <h1>Main title which is longer and more meaningful.</h2>
                    </div>

                    <p>Here will be a paragraph that will describe the service.</p>
                </div>

                <a href="" class="i1-link">Link here</a>
            </div>

            <div class="i1-p2">
                <img src="" alt="">
            </div>
        </section>

        <!-- <section class="info-section-v1 info-section-v2">
            <div class="i1-p1">
                <div class="i1-p1-innerdiv">
                    <div class="i1-title">
                        <h2>Sub-title</h2>
                        <h1>Main title which is longer and more meaningful.</h2>
                    </div>

                    <p>Here will be a paragraph that will describe the service.</p>
                </div>

                <a href="" class="i1-link">Link here</a>
            </div>

            <div class="i1-p2 i1-p2-v2">
                <img src="" alt="">
            </div>
        </section>

        <section class="info-section-v1 info-section-v2">
            <div class="i1-p1">
                <div class="i1-p1-innerdiv">
                    <div class="i1-title">
                        <h2>Sub-title</h2>
                        <h1>Main title which is longer and more meaningful.</h2>
                    </div>

                    <p>Here will be a paragraph that will describe the service.</p>
                </div>

                <a href="" class="i1-link">Link here</a>
            </div>

            <div class="i1-p2 i1-p2-v2">
                <img src="" alt="">
            </div>
        </section> -->
    </section>

    <section class="blog-section">
        <div class="blog-p1">
            <h2>Learn more about us.</h2>
            <h1>Read our latest blogs to get to know us and our services.</h1>
        </div>

        <div class="blog-p2">
            <div class="blog-item">
                
            </div>
        </div>
    </section>
{% endblock %}