{% extends "layout.html" %}
{% load static %}

{% block title %}HostHook - Index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block body %}
    <section class="contact-form">
        <div class="contact-header">
            <div class="contact-title">
                <h3>HostHook</h3>
                <h1>Register your company to get every benefit from us.</h1>
                <p>Here will be small description for registration, it will be gray thin text.</p>
            </div>

            <div class="contact-list">
                <div class="contact-list1">
                    <div class="list-div">
                        <span class="material-symbols-outlined">check_small</span>
                        <h3>Here is a list</h3>
                    </div>

                    <div class="list-div">
                        <span class="material-symbols-outlined">check_small</span>
                        <h3>Here is a list</h3>
                    </div>

                    <div class="list-div">
                        <span class="material-symbols-outlined">check_small</span>
                        <h3>Here is a list</h3>
                    </div>
                </div>

                <div class="contact-list2">
                    <h3>Address: Batumi, Georgia</h3>
                    <h3>Email: example@gmail.com</h3>
                    <h3>Phone number: +995 555 55 55</h3>
                </div>
            </div>
        </div>

        <form class="contact-p2">
            <div class="contact-p2-part1">
                <div class="contact-service">
                    <h1>Choose Services:</h1>
                    <div class="service-buttons">
                        <button class="service-btn service-btn-active">Service 1</button>
                        <button class="service-btn">Service 2</button>
                        <button class="service-btn">Service 3</button>
                        <button class="service-btn">Service 4</button>
                        <button class="service-btn">Service 5</button>
                        <button class="service-btn">Service 6</button>
                        <button class="service-btn">Service 7</button>
                        <button class="service-btn">Service 8</button>
                    </div>
                </div>

                <div class="contact-service">
                    <h1>Choose problem type:</h1>
                    <div class="service-buttons">
                        <button class="service-btn service-btn-active">Problem 1</button>
                        <button class="service-btn">Problem 2</button>
                        <button class="service-btn">Problem 3</button>
                        <button class="service-btn">Other</button>
                    </div>
                </div>
            </div>

            <div class="contact-p2-part2">
                <div class="input-row">
                    <div class="input-row-inputs">
                        <div class="input-row-inputs-div">
                            <input type="text" name="" id="" placeholder="Enter name here...">
                        </div>

                        <div class="input-row-inputs-div">
                            <input type="text" name="" id="" placeholder="Enter surname here...">
                        </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-row-inputs">
                        <div class="input-row-inputs-div">
                            <input type="email" name="" id="" placeholder="Enter email here...">
                        </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-row-inputs">
                        <div class="input-row-inputs-div">
                            <input type="subject" name="" id="" placeholder="Enter subject here...">
                        </div>
                    </div>
                </div>

                <textarea name="" id="" placeholder="Write letter here"></textarea>
                
                <input type="submit" class="contact-form-submit">
            </div>
        </form>
    </section>

    <section class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95513.79979313264!2d41.578330767578125!3d41.61678170000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406786244f77c385%3A0xc723707e155bc81f!2sBatumi%2C%20Georgia!5e0!3m2!1sen!2sge!4v1710000000000!5m2!1sen!2sge" frameborder="0"></iframe>
    </section>
{% endblock %}