{% extends "layout.html" %}
{% load static %}

{% block title %}HostHook - Index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block body %}
    <section class="contact-form">
        <div class="contact-header">
            <div class="contact-title">
                
            </div>

            <div class="contact-list">
                
            </div>
        </div>

        <div class="contact-p2">

        </div>
    </section>
{% endblock %}