{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        {% block head %}{% endblock %}
        <title>{% block title %}HostHook{% endblock %}</title>
    </head>
    <body>
        <nav>
            <div class="nav-part1">
                <div class="nav-brand-div">
                    <i class="fa-solid fa-database"></i>

                    <div class="nav-brand-info">
                        <h1>Brand</h1>
                        <p>dashboard</p>
                    </div>
                </div>

                <div class="nav-navs">
                    <a href="" class="nav-link">
                        <div class="nav-item">
                            <i class="fa-solid fa-database"></i>

                            <h2>Database</h2>
                        </div>
                    </a>

                    <a href="" class="nav-link2">
                        <div class="nav-item2">
                            <i class="fa-solid fa-database"></i>

                            <h2>Database</h2>
                        </div>
                    </a>

                    <a href="" class="nav-link2">
                        <div class="nav-item2">
                            <i class="fa-solid fa-database"></i>

                            <h2>Database</h2>
                        </div>
                    </a>

                    <a href="" class="nav-link2">
                        <div class="nav-item2">
                            <i class="fa-solid fa-database"></i>

                            <h2>Database</h2>
                        </div>
                    </a>

                    <a href="" class="nav-link2">
                        <div class="nav-item2">
                            <i class="fa-solid fa-database"></i>

                            <h2>Database</h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nav-part2">
                <button>
                    <span class="material-symbols-outlined">help_center</span>
                      Documentation & Support
                </button>
            </div>
        </nav>

        <main>
            <section class="main-topbar">
                <div class="topbar-part1">
                    <div class="topbar-directory">
                        <h3>Project</h3>
                        <h3>/</h3>

                        <select name="" id="">
                            <option value="">Basroba.com</option>
                        </select>

                        <h4>Free plan</h4>
                    </div>
                </div>

                <div class="topbar-part2">
                    <div class="search">
                        <button class="search-button"><span class="material-symbols-outlined">search</span></button>
                        <input type="search" name="" id="" placeholder="Go to docs... (CTRL + /)">
                    </div>

                    <div class="topbar-notification">
                        <button class="notification-button">
                            <span class="material-symbols-outlined">notifications</span>
                        </button>
                    </div>

                    <div class="topbar-profile">
                        <img src="" alt="">
                    </div>
                </div>
            </section>

            <section class="section-title">
                <!-- use: h1, h2, h3, p, a, button -->
                <h1>Section title H1</h1>
                <p>Section title p</p>
            </section>

            <section class="section-horizontal-cards-s">
                <div class="h-s-card-item1">
                    <div class="h-s-card-title">
                        <h3>Card title</h3>
                        <button class="h-s-card-rise-button">+14.2%</button>
                    </div>

                    <div class="h-s-card-content">
                        <h4>348.2<span> K</span></h4>

                        <img src="{% static 'pics/high-line1.svg' %}" alt="">
                    </div>
                </div>

                <div class="h-s-card-item1">
                    <div class="h-s-card-title">
                        <h3>Card title</h3>
                        <button class="h-s-card-rise-button">+5.2%</button>
                    </div>

                    <div class="h-s-card-content">
                        <h4>14.2<span> TB</span></h4>

                        <img src="{% static 'pics/high-line1.svg' %}" alt="">
                    </div>
                </div>

                <div class="h-s-card-item1"> 
                    <div class="h-s-card-title">
                        <h3>Card title</h3>
                        <button class="h-s-card-lower-button">-2.2%</button>
                    </div>

                    <div class="h-s-card-content">
                        <h4>84.5<span> GB</span></h4>

                        <img src="{% static 'pics/down-line1.svg' %}" alt="">
                    </div>
                </div>

                <div class="h-s-card-item1"> 
                    <div class="h-s-card-title">
                        <h3>Card title</h3>
                        <button class="h-s-card-lower-button">+8.2%</button>
                    </div>

                    <div class="h-s-card-content">
                        <h4>1,235<span> MEMBERS</span></h4>

                        <img src="{% static 'pics/down-line1.svg' %}" alt="">
                    </div>
                </div>
            </section>

            <section class="section-history">
                <div class="history-header">
                    <div class="history-header-p1">
                        <h3>History title</h3>
                        <p>Read recent log</p>
                    </div>

                    <div class="history-header-p2">
                        <button>
                            <span class="material-symbols-outlined">autorenew</span>
                            
                            Refresh
                        </button>
                    </div>
                </div>

                <table class="history-table">
                    <thead class="history-table-thead">
                        <tr>
                            <th>TIME STAMP</th>
                            <th>SERVICE MODULE</th>
                            <th>EVENT DESCRIPTION</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>

                    <tr>
                        <td class="table-date">10/1/2026 - 10:23 AM</td>
                        <td class="table-service">
                            <div class="table-service2">
                                <span class="material-symbols-outlined">cloud</span>
                                <p>cloud_functions</p>
                            </div>
                        </td>
                        <td class="table-description">Encrypted data of users</td>
                        <td class="table-status">
                            <button class="status-btn-pedding">Pedding</button>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-date">10/1/2026 - 10:23 AM</td>
                        <td class="table-service">
                            <div class="table-service2">
                                <span class="material-symbols-outlined">cloud</span>
                                <p>cloud_functions</p>
                            </div>
                        </td>
                        <td class="table-description">Encrypted data of users</td>
                        <td class="table-status">
                            <button class="status-btn-active">Active</button>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-date">10/1/2026 - 10:23 AM</td>
                        <td class="table-service">
                            <div class="table-service2">
                                <span class="material-symbols-outlined">cloud</span>
                                <p>cloud_functions</p>
                            </div>
                        </td>
                        <td class="table-description">Encrypted data of users</td>
                        <td class="table-status">
                            <button class="status-btn-inactive">Failed</button>
                        </td>
                    </tr>
                </table>

                <div class="history-header-end">
                    <a href="">View whole history </a>
                </div>
            </section>
        </main>

        <script src="https://kit.fontawesome.com/5111b3d9f7.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>