{% extends "layout.html" %}
{% load static %}

{% block title %}HostHook - Index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Welcome to HostHook, a modern tool to keep everything organized.</h1>
                <p>HostHook helps you manage your products efficiently, get analytics, and streamline your workflow. 100% secure, 24/7 support and modern dashboard to keep everything in order.</p>
            </div>

            <div class="hero-button">
                <button>Get Started</button>
                <a class="btn btn-primary" href="#">Learn More</a>
            </div>
        </div>

        <img class="hero-image" src="" alt="">
    </section>
{% endblock %}